---
layout: default
---

<div class="home">

  <h1 class="page-heading">Reviews</h1>

  <ul class="post-list">
    {% for review in site.posts %}
    {% if review.review %}
      <li>
        <span class="post-meta">{{ review.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ review.url | prepend: site.baseurl }}">{{ review.title }}</a>
        </h2>
        {{ review.snippet }}
      </li>
    {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
